@model IEnumerable<BookSale.Models.Books.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Category Info</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="table-responsive-md table-responsive">
    <table class="table">

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CategoryName })
                    @Html.ActionLink("Delete", "Delete", new { id = item.CategoryName })
                </td>
            </tr>
        }

    </table>
</div>